body{
  margin: 0;

  font-size: 20px;

  min-height: 100vh;

  font-family: "Roboto", Tahoma, sans-serif;

  background: linear-gradient(to bottom, #1976d2, #b3e5fc);

  background-attachment: fixed;
}

.NavBar{
  display: flex;

  justify-content: center;

  gap: 2rem;

  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.342);
}

.NavBar a{
  color: black;

  text-decoration: none;

  font-weight: bold;
}

.NavIcon{
  margin-right: 0.4rem;
}

.NavBar a:hover{
  text-decoration: underline;
}

.Top,
.Bottom{
  text-align: center;

  color: rgb(255, 255, 255);

  padding: 2rem;

  margin: 0 auto;

  border-radius: 12px;
}

.Top{
  width: 80%;

  min-height: 50vh;

  box-sizing: border-box;

  background: url("img/Tech Wallpaper.webp") no-repeat center center;
  background-size: cover;
}



.IntroBox{
  max-width: 900px;

  margin: 0 auto;

  padding: 2rem;

  box-sizing: border-box;

  background-color: rgba(64, 192, 47, 0.651);

  border-radius: 12px;
}

.BottomBox{
  max-width: 900px;

  margin: 0 auto;

  padding: 2rem;

  box-sizing: border-box;

  background-color: rgba(64, 192, 47, 0.651);

  border-radius: 12px;
}

.Top img,
.Bottom img{
  max-width: 100%;

  height: auto;
}

.Programming.Languages,
.New.Languages{
  display: flex;

  justify-content: center;

  align-items: center;

  gap: 1rem;

  flex-wrap: wrap;
}

.Programming.Languages img,
.New.Languages img{
  width: 120px;

  height: 120px;

  object-fit: contain;
}

.CsharpLogo{
  transform: scale(1.68);
}

.CssLogo{
  transform: scale(1.15);
}

.JsLogo{
  position: relative;

  top: 6px;
}

.Profile{
  width: 100px;

  height: auto;

  display: block;

  margin: 0 auto 1rem;

  border-radius: 12px;
  
  object-fit: cover;
}
